<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967748728980-lciaigu4biev5aedvq3om966q2fsdpe2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967748728980-lciaigu4biev5aedvq3om966q2fsdpe2</string>
	<key>API_KEY</key>
	<string>AIzaSyBNHY_GB0bQ-OwXrSgsPAQxJ83iSm9yRUI</string>
	<key>GCM_SENDER_ID</key>
	<string>967748728980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vignesh.NewsCast</string>
	<key>PROJECT_ID</key>
	<string>newscastx</string>
	<key>STORAGE_BUCKET</key>
	<string>newscastx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:967748728980:ios:7f0d1b05154ee726da5c81</string>
</dict>
</plist>
